# Markdown files are now allowed
*.md
*.log
*.png
*.txt
*.dll
*.exe
*.tlog
*.lib
!WheelDL.Lib/
*.exp
*.pdb
*.pch
*.obj
*.recipe
*.Up2Date
*.idb
*.pump
*.ps1
*.yaml
*.pt
*.pth
*.ilk
*.enc

.claude
.vs
.vscode
__pycache__
docs
dataset
python_src
3rdparty
packages
LibTorch_apitest
test_result.txt